/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.pad-left-20 {
  padding-left: 20px;
}

/* link global */

a {
  color: white;
  text-decoration: none;
}

/* /link global */

/* list global */

ul li {
  list-style-type: none;
}

/* /list global */

/* text global */

.text-uppercase {
  text-transform: uppercase;
}

/* /text-global */

/* /GLOBAL */

/* MAIN */

/* WRAPPER */

#wrapper {
  width: 100vw;
  height: 100vh;
}

/* /WRAPPER */

/* TOP FIXED NAVBAR */

.top-fxd-nav {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 230px);
  height: 90px;
  background-color: #080b12;
  /* background-color: lightgreen; */
}

.top-fxd-nav .btn-white-blue {
  font-family: "Montserrat", sans-serif;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 35px;
  padding-left: 35px;
  color: white;
  background-color: #05070b;
  border: 1px solid white;
  border-radius: 25px;
  margin-right: 10px;
}

/* /TOP FIXED NAVBAR */

/* XS LEFT NAVBAR */

.xs-left-navbar {
  display: none;
}

/* /XS LEFT NAVBAR */

/* LEFT NAVBAR */

.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: calc(100vh - 90px);
  background-color: #000000;
  color: white;
  overflow-y: hidden;
}

.top-left-nav {
  height: calc(100% - 80px);
}

/* logo */

.left-nav .logo-wrapper {
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.left-nav .logo-wrapper img {
  height: 40px;
}

/* /logo */

/* left menù */

.left-menu {
  height: 105px;
}

.left-menu li {
  width: 100%;
  display: flex;
  align-items: center;
}

.left-menu li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.left-menu li:first-child {
  padding-left: 18px;
  border-left: 2px solid #adff2f;
}

.left-menu li img {
  height: 25px;
  margin-right: 5px;
}

.left-menu li:active {
  padding-left: 18px;
  border-left: 2px solid #adff2f;
}

.left-menu li a {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

/* /left menù */

/* left playlist */

.left-playlist {
  height: calc(100% - 275px);
  margin-top: 30px;
  padding-left: 20px;
}

.new-playlist {
  display: flex;
  align-items: baseline;
}

.new-playlist > span {
  font-weight: 600;
}

.new-playlist > .box-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  color: #05070b;
  background-color: #a3a3a3;
}

.vg-plus-custom {
  font-size: 1.2rem;
}

.playlist-name > li {
  margin-top: 20px;
}

.playlist-name {
  height: 95%;
  overflow-y: auto;
}

.playlist-name > li > a {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

/* /left playlist */

/* bottom left navbar */

.bottom-left-nav {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.bottom-left-nav a {
  color: white;
}

.bottom-left-nav .user-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  overflow: hidden;
}

.bottom-left-nav .user-img img {
  width: 25px;
  height: 25px;
}

.install-app {
  padding-bottom: 11px;
  border-bottom: 1px solid white;
}

.user-info {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.user-info span {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}

/* bottom left navbar */

/* /LEFT NAVBAR */

/* MAIN CONTENT */

.main-content {
  margin-top: 90px;
  width: calc(100% - 230px);
  height: calc(100vh - 180px);
  color: white;
  background-color: #141922;
  /* background-color: darkgray; */
  overflow-y: auto;
}

/* top links */

.top-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-links .list-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.top-links .list-links li {
  margin-top: 20px;
  margin-right: 20px;
}

.top-links .list-links li a {
  font-size: 13.1px;
  font-weight: 600;
  opacity: 0.5;
  color: white;
}

/* /top links */

/* recently played */

.recently-played {
  width: 100%;
  padding-left: 20px;
  padding-right: 30px;
}

.box {
  float: left;
  width: calc((100% / 6) - 10px);
  margin-top: 30px;
  margin-right: 10px;
  /* background-color: salmon; */
}

.box a {
  display: inline-block;
  width: 100%;
}

/* img e inheritance width height */
/* capire perche img si ridimensiona uguale senza dare ad a dimensioni */

.box a img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .box {
    width: calc(25% - 10px);
  }
}

@media all and (max-width: 767px) {
  .box {
    width: calc(50% - 10px);
  }
}

/* /recently played */

/* created for */

.created-for {
  width: 100%;
  padding-left: 20px;
  padding-right: 30px;
}

/* /created for */

/* most popular artists */

.popular-artists {
  width: 100%;
  padding-left: 20px;
  padding-right: 30px;
}

.img-circle {
  border-radius: 50%;
}

/* /most popular artists */

/* /MAIN CONTENT */

/* BOTTOM PLAYER */

.bottom-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vw; */
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #282828;
  /* background-color: lightseagreen; */
}

/* left player */

.left-player {
  display: flex;
  align-items: center;
}

.box-img-bottom img {
  width: 40px;
}

/* /left player */

/* center player */

.center-player .current-song {
  display: flex;
  align-items: center;
}

.center-player .player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
}

.center-player .player-buttons a {
  display: inline-block;
}

.center-player .player-buttons a:nth-child(1),
.center-player .player-buttons a:nth-child(4) {
  margin-right: 20px;
}

.center-player .player-buttons .play-button {
  font-size: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.center-player .player-buttons a {
  display: inline-block;
}

.center-player .current-song .flexible-bar {
  width: 30vw;
  height: 3px;
  background-color: white;
  opacity: 0.5;
}

.center-player .current-song .flexible-bar .current-status {
  width: 20%;
  height: 100%;
  background-color: tomato;
}

/* /center player */

/* /BOTTOM PLAYER */

/* /MAIN */

/* MEDIA QUERY CUSTOM */

@media all and (max-width: 576px) {
  .top-fxd-nav {
    width: calc(100% - 50px);
  }

  .left-nav {
    display: none;
  }

  .xs-left-nav {
    float: left;
    display: block;
    width: 50px;
    height: calc(100vh - 90px);
    background-color: #000000;
  }

  .main-content {
    width: calc(100% - 50px);
  }
}

/* /MEDIA QUERY CUSTOM */
